.my-image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.container {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  width: 100%;
  /* aspect-ratio: 2/1; */
  max-height: 400px;
  background-color: white;
}

.login-item {
  display: flex;
}

.login-item-left {
  width: 50%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.login-item-right {
  width: 50%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px;
}

.main {
  display: flex;
  align-content: center;
  align-items: center;
}

.login-item-right .input {
  width: 100%;
  padding: 12px 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: rgb(228, 239, 253);
}
.login-item-right .input:focus {
  border: none;
  outline: solid #00b0ff 1px;
}

.login-item-main {
  padding: 5px;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-item {
  padding: auto;
}

.button-login {
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
  box-sizing: border-box;
}

.row-item-title {
  font-weight: bold;
  opacity: 70%;
}

.row-item-title-detail {
  font-size: 13px;
  opacity: 50%;
  margin-left: 1px;
}

.row-icon {
  position: relative;
  top: 30px;
  left: 10px;
}
